    .wizard-container .hint {
        position: absolute;
        display: none;
        font-size: 80%;
    }
    .wizard-container .form-control.focus~.hint, .wizard-container .form-control:focus~.hint {
        display: block;
    }
    .input-group .input-group-addon{
      padding-top: 12px;
    }




.wizard-container {
  padding-top: 0px;
}