extends layoutex

block content

    

  .wrapper
    .header.header-filter(style="background-image: url('/images/icebucket.jpg'); height:500px;")
      .container
        .row



          .col-md-6

            h1.title | Ice Bucket Challenge Gone Wrong
            h4 (Video Description) Vine Compilation
            br
            a.btn.btn-danger.btn-raised.btn-large(href="https://www.youtube.com/watch?v=_xYXxYh6J24") Watch Video
              .icon
                i.material-icons play_arrow
                
                      


    .main.main-raised
        
        .section.section-full-screen.section-signup     
          .container
            .section.section-landing 

              .row
                .col-sm-8.col-md-offset-2
                  h2.title You see one of this compilation videos, right?
                  h5.description This compilation have more than 50 videos inside.
                  ul
                    li First Funny Video from Compilation:
                      a(href="player/case3e1")  | link

                    li Second Funny Video from Compilation: 
                      a(href="player/case3e2")  | link

                    li Third Funny Video from Compilation: 
                      a(href="player/case3e3")  | link

  

        .space-50

        

    footer.footer
      .container

    