extends layoutex

block content

    

  .wrapper
    .header.header-filter(style="background-image: url('/images/icebucket.jpg'); height:500px;")
      .container
        .row



          .col-md-6

            h1.title Example 1
            h4 Every landing page needs a small description after the big bold title, that's why we added this text here. Add here all the information that can make you or your product create the first impression.
            br
            a.btn.btn-danger.btn-raised.btn-large(href="http://youtube.com") Watch Video
              .icon
                i.material-icons play_arrow
                
                      


    .main.main-raised
        
        .section.section-full-screen.section-signup     
          .container
            .section.section-landing 

              .row
                .col-sm-8.col-md-offset-2
                  h2.title Let's talk product
                  h5.description 
                  ul
                    li Jaime sneezed and got lucky:
                      a(href="/case3e1")

                    li Jamie loses big pot 
                      a(href="/case3e2")

                    li AA - QQ - AK - Jamie really mad
                      a(href="/case3e3")

  

        .space-50

        

    footer.footer
      .container

    