extends layoutex

block content

    

  .wrapper
    .header.header-filter(style="background-image: url('/images/Guardians-of-the-Galaxy-img.1.jpg'); height:500px;")
      .container
        .row



          .col-md-6

            h1.title Guardians of the Galaxy - Easter Egg Countdown
            h4 (Video Description) We may not be cashing in on director James Gunn's $100K proposal to find the last remaining Easter Egg in Guardians of the Galaxy, but we count down some of the notables RIGHT HERE in our latest installment of Easter Egg Countdown!
            br
            a.btn.btn-danger.btn-raised.btn-large(href="https://www.youtube.com/watch?v=WbIPHjHoYaA") Watch Video
              .icon
                i.material-icons play_arrow
                
                      


    .main.main-raised
        
        .section.section-full-screen.section-signup     
          .container
            .section.section-landing 

              .row
                .col-sm-8.col-md-offset-2
                  h2.title Let's talk product
                  h5.description

                  ul
                    li Jaime sneezed and got lucky:
                      a(href="")
                    li Jamie loses big pot 
                      a(href="")
                    li AA - QQ - AK - Jamie really mad
                      a(href="")
                    li Previous hand Break Down
                      a(href="")
                    li 1/17 chanses to win - Call on the River
                      a(href="")
                    li Final table and famous Jamie face!
                      a(href="")

  


        .space-50

        

    footer.footer
      .container

    