extends layoutex

block content

    

  .wrapper
    .header.header-filter(style="background-image: url('/images/maxresdefault (1).jpg'); height:500px;")
      .container
        .row



          .col-md-6

            h1.title Jamie Staples' PokerStaples Streams
            h4 (Video Description)  
                     | Highlight from my first stream after being away, and we made a final table!
            br
            a.btn.btn-danger.btn-raised.btn-large(href="https://www.youtube.com/watch?v=g0uPUJbOYdg") Watch Video
              .icon
                i.material-icons play_arrow
                
                      


    .main.main-raised
        
        .section.section-full-screen.section-signup     
          .container
            .section.section-landing 

              .row
                .col-sm-8.col-md-offset-2
                  h2.title Who is Jamie?
                  h5.description 
                    |Jaime is a Canadian professional poker player from Alberta, Canada who specializes in live streaming of online low-high stakes multi-table tournaments on Twitch.tv
                    <br />
                    |Youtube: https://www.youtube.com/channel/UC7tffpR__YXghv3ypgpE7fg
                    <br />
                    |Twitch:  https://www.twitch.tv/pokerstaples
                    <br />
                  h5 Some interesting pieces from his video:


                  ul
                    li Jaime sneezed and got lucky:
                      a(href="player/case2e1")  | link

                    li Jamie loses big pot 
                      a(href="player/case2e2")  | link

                    li AA - QQ - AK - Jamie really mad
                      a(href="player/case2e3")  | link

                    li Previous hand Break Down
                      a(href="player/case2e4")  | link

                    li 1/17 chanses to win - Call on the River
                      a(href="player/case2e5")  | link

                    li Final table and famous Jamie face!
                      a(href="player/case2e6")  | link

  


        .space-50

        

    footer.footer
      .container

    