extends layoutex

block content

    

  .wrapper
    .header.header-filter(style="background-image: url('/images/Guardians-of-the-Galaxy-img.1.jpg'); height:500px;")
      .container
        .row



          .col-md-6

            h1.title Guardians of the Galaxy - Easter Egg Countdown
            h4 (Video Description) We may not be cashing in on director James Gunn's $100K proposal to find the last remaining Easter Egg in Guardians of the Galaxy, but we count down some of the notables RIGHT HERE in our latest installment of Easter Egg Countdown!
            br
            a.btn.btn-danger.btn-raised.btn-large(href="https://www.youtube.com/watch?v=WbIPHjHoYaA") Watch Video
              .icon
                i.material-icons play_arrow
                
                      


    .main.main-raised
        
        .section.section-full-screen.section-signup     
          .container
            .section.section-landing 

              .row
                .col-sm-8.col-md-offset-2
                  h2.title Let's talk product
                  h5.description

                  ul
                    li 1 Eastern Egg:
                      a(href="player/case1e1") | Laura Haddock from Captain America?

                    li 2 Eastern Egg:
                      a(href="player/case1e2") |  Dog Dr.Wesley von Spears

                    li 3 Eastern Egg: 
                      a(href="player/case1e3") | The Kymellians

                    li 4 Eastern Egg:
                      a(href="player/case1e4") | The Sakaraans

                    li 5 Eastern Egg:
                      a(href="player/case1e5") | Bereet the Krylorian

                    li 6 Eastern Egg:
                      a(href="player/case1e6") | Ship Called "Milano" - Alisa Milano is superstar!

                    li 7 Eastern Egg:
                      a(href="player/case1e7") | Yondu

                    li 8 Eastern Egg: 
                      a(href="player/case1e8") | Stan Lee Cameo

                    li 9 Eastern Egg:
                      a(href="player/case1e9") | Rhommann DEY &amp; Garthan SAAL

                    li 10 Eastern Egg:
                      a(href="player/case1e10") | Indiana Jones &amp; the Maltese Falcon

                    li 11 Eastern Egg:
                      a(href="player/case1e11") | Troma\'s LLOYD Kaufman

                    li 12 Eastern Egg:
                      a(href="player/case1e12") | Castle? Right! Sorry, Nathan Fillon

                    li 13 Eastern Egg:
                      a(href="player/case1e13") | Thanos on his throne

                    li 14 Eastern Egg:
                      a(href="player/case1e14") | A home in "KNOWHERE"

                    li 15 Eastern Egg:
                      a(href="player/case1e15") | Carina Walters

                    li 16 Eastern Egg:
                      a(href="player/case1e16") | Cosmo THE SPACE DOG 

                    li 17 Eastern Egg:
                      a(href="player/case1e17") | Slugs from "SLITHER"                               

                    li 18 Eastern Egg:
                      a(href="player/case1e18") | Chitauri warrior &amp; Dark ELF

                    li 19 Eastern Egg:
                      a(href="player/case1e19") | Cocoon of Adam warlock???

                    li 20 Eastern Egg:
                      a(href="player/case1e20") | Voice of Rob Zombie

                    li 21 Eastern Egg:
                      a(href="player/case1e21") | 12% of a plan

                    li 22 Eastern Egg:
                      a(href="player/case1e22") | Captain Marvel costume

                    li 23 Eastern Egg:
                      a(href="player/case1e23") | Howard The Duck

                    li 24 Eastern Egg:
                      a(href="player/case1e24") | Undiscovered Easter Egg?                    

  


        .space-50

        

    footer.footer
      .container

    