doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css') 
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')    
    link(rel='stylesheet', href='http://vjs.zencdn.net/5.8.8/video-js.css') 
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css') 
    //- /stylesheets/cards-example.css
    //- asRange.css
    //- masks.css
    //- other.css
    //- @todo move custom styles from html to project
  body
    block content
    script(src='https://code.jquery.com/jquery-2.2.4.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
    script(src='/javascripts/videojs-5-5-8.js')
    script(src='/javascripts/youtube.js')
    //- /javascripts/jquery-asRange.js
    //- /javascripts/jquery.formatter.js
    //- /javascripts/badcode.js
